*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    width:100vw;
    height:100vh;
}

a{
    color:none;
}

a:hover{
    color:none;
    text-decoration:none
}

.notAuthorized {
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100%;
}


/*
th, td {
    border: 1px solid black;
    text-align:center;
}*/

.chatBlock{
    position:absolute;
    right:0;
    bottom:0;
    width:30vw;
    height:50vh;
    background-color:gray;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.chatBlockHide{
    display:none;
}

.chatBlock__header {
    display: flex;
    flex-direction: column;
}

.closeBtn{
    align-self:flex-end;
}

h2{
    align-self:center;
    margin-top:10px;
}

.typeMessageBlock{
    align-self:center;
margin-bottom:20px;
}

.messages{
    height:30vh;
    overflow:auto;
}

.title{
    text-align:center;
}

h2{
    text-align:center;
}



/*.snackBar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 20vw;
    height: 10vh;
    background-color: gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
}

.snackBar p {
    text-align:center;
}*/





.table {
    width: 50% !important;
    margin: 0 auto;
}

.chat{
}

.message {
    margin: 15px;
}

.tableBlock {
    width: 100%;
    margin:0 auto;
}

.toast {
    width: 90% !important;
}

.my-custom-scrollbar {
    position: relative;
    height: 60vh;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

